/* CSS IMPORT */
@import url(assets/css/index.css);
@import url(assets/css/nav.css);
@import url(assets/css/fonts.css);
@import url(assets/css/cards.scss);
@import url(assets/css/contact.css);
@import url(assets/css/footer.css);
@import url(assets/css/login.css);
@import url(assets/css/usuario.css);
/* CSS IMPORT */

/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Roboto:wght@300&display=swap');
/* FONT IMPORTS */


*{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.swal2-popup {
    font-family: 'Roboto',Arial, sans-serif;
  }