main{
    margin: 20px;
}

.register-grid{
    display: flex;
    justify-content: space-between;
}

.register-container{
    margin: 10px;
}

.intl-tel-input .country-list {
    max-height: 150px;
}

#nome-attention, #cpf-attention, #materno-attention, #number-attention, #data-attention, #cep-attention, #numero-attention, #sexo-attention, #senha-attention, #confirmaSenha-attention, #login-attention{
    visibility: hidden;
    color: red;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.register-display{
    display: flex;
    gap: 10px;
}

.text-label, .short-text-label, .most-short-text-label, .block-text-label, .block-text-medium-label{
    display: flex;
    align-items: center;
    border: 0.3px solid rgba(0, 0, 0, 0.163);
    border-radius: 50px;
    width: 312px;
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.18);
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.18);
}

.block-most-short-text-label{
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.18);
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.18);
}

.block-text-medium-label{
    width: 250px;
}

.text-label i, .short-text-label i, .most-short-text-label i, .block-text-label i, .block-text-medium-label i, .block-most-short-text-label i{
    padding: 10px;
}

/* topo | direita | inferior | esquerda */
.long-input, .short-input, .number-input, .ushort-input, .block-input, .block-medium-input, .block-short-input, .block-most-short-text-label, .sex-selection{
    padding: 10px 0px 10px 0px;
    border: 0px;
    width: 300px;
    border-radius: 50px;
}

.block-medium-input{
    width: 250px;
}

.block-text-label, .block-input, .block-medium-input, .block-text-medium-label, .block-short-input, .block-most-short-text-label{
    background-color: #e7e7e7 !important;
    cursor: not-allowed;
}

.number-input{
    padding: 11px;
    width: 250px;
}

.short-text-label{
    width: 250px !important;
}

.most-short-text-label{
    width: 140px !important;
}

.ushort-input, .block-short-input{
    width: 105px;
}

.short-input{
    width: 200px !important;
}

.long-input:focus, .short-input:focus, .number-input:focus, .data-input:focus, .block-medium-input:focus, .block-input:focus, .ushort-input:focus, .block-short-input:focus, .sex-selection:focus{
    outline: none;
}

.cadastroBtn, .limparBtn{
    padding: 10px;
    border: 0px;
    background-color: rgb(0, 209, 0);
    color: #ffffff;
    border-radius: 10px;
}

.limparBtn{
    background-color: red !important;
}

.register-buttons{
    display: flex;
    gap: 10px;
}