main{
    margin: 20px;
}

.register-grid{
    display: flex;
    justify-content: space-between;
}

.register-container{
    margin: 10px;
}

.intl-tel-input .country-list {
    max-height: 150px;
}

#nome-attention, #cpf-attention, #materno-attention, #number-attention, #data-attention{
    visibility: hidden;
    color: red;
    margin-left: 15px;
}

.register-display-1, .register-display-2{
    display: flex;
    gap: 10px;
}

.text-label, .short-text-label, .most-short-text-label{
    display: flex;
    align-items: center;
    border: 0.3px solid rgba(0, 0, 0, 0.163);
    border-radius: 50px;
    width: 312px;
    box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.18);
    -webkit-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.18);
    -moz-box-shadow: 10px 10px 5px -2px rgba(0,0,0,0.18);
}

.text-label i, .short-text-label i, .most-short-text-label i{
    padding: 10px;
}

/* topo | direita | inferior | esquerda */
.long-input, .short-input, .number-input, .data-input{
    padding: 10px 0px 10px 0px;
    border: 0px;
    width: 300px;
    border-radius: 50px;
}

.number-input{
    padding: 11px;
    width: 200px;
}

.short-text-label{
    width: 250px !important;
}

.most-short-text-label{
    width: 140px !important;
}

.data-input{
    width: 105px;
}

.short-input{
    width: 200px !important;
}

.long-input:focus, .short-input:focus, .number-input:focus, .data-input:focus{
    outline: none;
}